# **Q.1  Explain the key features of Python that make it a popular choice for programming.**

**Ans.** **The key features of Python that makes it a popular choice for programming are-**

    1. Important programming language and widely used in the industry.
    2. Python has a lot of libraries (1,37,000). It has a community that others can use codes.
    3. We can develop any software by using Python.
    4. We can do Frontend, Backend, Data Analysis, etc.
    5. We can do automation by Python.
    6. We can do Image Processing.
    7. Ease of Learning.
    8. It has a huge active community.
    9. We can do mathematical research.
    10. Analyzing the data, Interpret graphs, Data Visualization, Data Science, Machine Learning, DL, NLP & AI (These are the used cases of Python).

# **Q.2 Describe the role of predefined keywords in Python and provide examples of how they are used in a program.**


**Ans.** **Predefined keywords in python are predefined words that holds a special meaning and have specific purpose. They are also known as reserved words in a programming language. These words are reserved by language and cannot be used as variable names or any other identifiers.  
Here is the list of the Python Predefine Keywords-
False, Class, From, or, None, Continue, global, pass, True, def, if, raise, and, del, import, return, as, elif, in, try, assert, else, is, while, async, except, lambda, with, await, finally, non local, yield, break, for, not.**

**Example:-**

In [ ]:
#1. False, True>> Represent boolean values. False is used to indicate a negative or false condition, while True is used for a
                  #positive or true condition.
is_active = True

if is_active:
    print("The system is active.")
else:
    print("The system is not active.")

The system is active.

In [ ]:
#2. None>> Represents the absence of a value or a null value. It is often used as a default value for function arguments or
           #to signify that a variable has not been set.
def greet(name=None):
    if name is None:
        print("Hello, guest!")
    else:
        print(f"Hello, {name}!")

greet()
greet("Puspendu")

Hello, guest!
Hello, Puspendu!

In [ ]:
#3. and, or, not>> Logical operators used for combining or negating boolean expressions.
x = 5
y = 10

if x < 10 and y > 5:
    print("Both conditions are True.")
else:
    print("At least one condition is False.")

Both conditions are True.

In [ ]:
#4. if, elif, else>> Used for conditional statements to control the flow of the program based on conditions.
age = 20

if age < 18:
    print("You are a minor.")
elif 18 <= age < 65:
    print("You are an adult.")
else:
    print("You are a senior.")

You are an adult.

In [ ]:
# 5. for, while, break, continue>> Used for loops and control flow within loops
# for: Used to iterate over sequences.
# while: Used to loop while a condition is true.
# break: Exits the loop prematurely.
# continue: Skips the rest of the code inside the loop for the current iteration.

for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
#6. def, return>> Used for defining functions and returning values from functions.

def square(number):
    return number * number

result = square(4)
print(result)

16

In [ ]:
#7. class, self>> Used for defining classes and instance methods within those classes.

class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        return f"{self.name} says Woof!"

my_dog = Dog("Buddy")
print(my_dog.bark())

Buddy says Woof!

In [ ]:
#8. try, except, finally, raise>> Used for handling exceptions and managing errors.
# try: Starts a block of code that may raise an exception.
# except: Catches and handles exceptions raised in the try block.
# finally: Executes code regardless of whether an exception occurred or not.
# raise: Used to manually raise an exception.

try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero.")
finally:
    print("This will always execute.")

Cannot divide by zero.
This will always execute.

In [ ]:
#9. import, from, as>> Used for importing modules and components from modules.

import math
from datetime import datetime as dt

print(math.sqrt(16))
print(dt.now())

4.0
2024-10-06 07:09:55.754036

# **Q.3 Compare and contrast mutable and immutable objects in Python with examples.**

**Ans.** In python objects can be either changeable or unchangeable.

**Mutable Objects**- Mutable objects can be changed after their creation. This means that you can modify their content without changing their identity (memory address).

    Examples:
            1. Lists
            2. Dictionaries
            3. Sets

**Behavior:**
      
      1. Modification: You can change the contents of a mutable object. For instance, you can add, remove, or alter elements in a list or dictionary.
      2. Identity: Even after modification, the object’s identity remains the same (its memory address does not change).

**Immutable Objects**- Immutable objects cannot be changed once they are created. Any operation that modifies the object will result in the creation of a new object with a new identity.

    Example:
          1. Strings
          2. Tuples
          3. Integers
          4. Floats

**Behavior:**
      
      1. Modification: Modifying an immutable object results in the creation of a new object rather than changing the original object.
      2. Identity: Since the original object cannot be altered, its identity remains consistent unless a new object is created.

**Example:-**

In [ ]:
#Mutable Objects

# Mutable Example: List
my_list = [1, 2, 3]
print(id(my_list))  # Prints the memory address of my_list

my_list.append(4)  # Modify the list
print(my_list)
print(id(my_list))  # The memory address remains the same

# Mutable Example: Dictionary
my_dict = {'a': 1, 'b': 2}
print(id(my_dict))  # Prints the memory address of my_dict

my_dict['c'] = 3    # Modify the dictionary
print(my_dict)
print(id(my_dict))  # The memory address remains the same

139084597669056
[1, 2, 3, 4]
139084597669056
139084597658240
{'a': 1, 'b': 2, 'c': 3}
139084597658240

In [ ]:
#Immutable Objects

# Immutable Example: String
my_string = "Hello"
print(id(my_string))  # Prints the memory address of my_string

my_string = my_string + " World"  # Create a new string
print(my_string)
print(id(my_string))  # The memory address is different from the original

# Immutable Example: Tuple
my_tuple = (1, 2, 3)
print(id(my_tuple))  # Prints the memory address of my_tuple

my_tuple = my_tuple + (4,)  # Create a new tuple
print(my_tuple)
print(id(my_tuple))  # The memory address is different from the original

139084597682928
Hello World
139084604616944
139084604549696
(1, 2, 3, 4)
139084797615440

# **Q.4 Discuss the different types of operators in Python and provide examples of how they are used.**

**Ans.** In Python, operators are special symbols or keywords that perform operations on values or variables. Python supports a variety of operators, each serving a different purpose. Here's a breakdown of the different types of operators and examples of how they are used:

1. **Arithmetic Operators** - Arithmetic operators are used for basic mathematical operations.
2. **Comparison Operators** - Comparison operators are used to compare values and return a Boolean result (True or False).
3. **Logical Operators** - Logical operators are used to combining conditional statements.
4. **Assignment Operators** - Assignment operators are used to assign values to variables.
5. **Bitwise Operators** - Bitwise operators are used for bit-level operations.
6. **Membership Operators** - Membership operators test for membership in a sequence.
7. **Identity Operators** - Identity operators compare the memory locations of two objects.

**Arithmetic Operators Example:-**

In [ ]:
# Adding two integers
a = 5
b = 3
result = a + b
print(result)

8

In [ ]:
# Subtracting two integers
a = 10
b = 4
result = a - b
print(result)

6

In [ ]:
# Multiplying two integers
a = 6
b = 7
result = a * b
print(result)

42

In [ ]:
# Floating-point division
a = 10
b = 3
result = a / b
print(result)

3.3333333333333335

In [ ]:
# Integer (floor) division
result = a // b
print(result)

3

In [ ]:
# Modulus with integers
a = 10
b = 3
result = a % b
print(result)

1

In [ ]:
# Exponentiation with integers
base = 2
exponent = 3
result = base ** exponent
print(result)

8

**Comparison Operators Examples:-**

In [ ]:
#Equal to (==): Checks if two values are equal.
result = (a == b)  # result is False

#Not equal to (!=): Checks if two values are not equal.
result = (a != b)  # result is True

#Greater than (>): Checks if one value is greater than another.
result = (a > b)  # result is True

#Less than (<): Checks if one value is less than another.
result = (a < b)  # result is False

#Greater than or equal to (>=): Checks if one value is greater than or equal to another.
result = (a >= b)  # result is True

#Less than or equal to (<=): Checks if one value is less than or equal to another.
result = (a <= b)  # result is False

**Logical Operator Examples:-**

In [ ]:
#3. Logical Operators

#And (and): Returns True if both conditions are true.
result = (a > b) and (b > 0)  # result is True

#Or (or): Returns True if at least one condition is true.
result = (a > b) or (b < 0)  # result is True

#Not (not): Returns True if the condition is false
result = not (a > b)  # result is False

**Assignment Operators Examples:-**

In [ ]:
#Assignment (=): Assigns a value to a variable.
x = 10

#Addition Assignment (+=): Adds a value to a variable and assigns the result.
x += 5  # x is now 15

#Subtraction Assignment (-=): Subtracts a value from a variable and assigns the result.
x -= 3  # x is now 12

#Multiplication Assignment (*=): Multiplies a variable by a value and assigns the result.
x *= 2  # x is now 24

#Division Assignment (/=): Divides a variable by a value and assigns the result.
x /= 4  # x is now 6.0

#Modulus Assignment (%=): Applies the modulus operation and assigns the result.
x %= 4  # x is now 2.0

#Exponentiation Assignment (**=): Raises a variable to the power of a value and assigns the result.
x **= 3  # x is now 8.0

#Floor Division Assignment (//=): Applies floor division and assigns the result.
x //= 3  # x is now 2.0

**Bitwise Operators Exampes:-**

In [ ]:
#AND (&): Performs a bitwise AND operation.
a = 6  # 0110 in binary
b = 3  # 0011 in binary
result = a & b  # result is 2 (0010 in binary)

#OR (|): Performs a bitwise OR operation.
result = a | b  # result is 7 (0111 in binary)

#XOR (^): Performs a bitwise XOR operation
result = a ^ b  # result is 5 (0101 in binary)

#Complement (~): Performs a bitwise NOT operation
result = ~a  # result is -7 (inverted bits of 0110)

#Left Shift (<<): Shifts bits to the left.
result = a << 1  # result is 12 (1100 in binary)

#Right Shift (>>): Shifts bits to the right.
result = a >> 1  # result is 3 (0011 in binary)

**Membership Operators Examples:-**

In [ ]:
#In (in): Checks if a value exists in a sequence.
my_list = [1, 2, 3]
result = 2 in my_list  # result is True

#Not in (not in): Checks if a value does not exist in a sequence.
result = 4 not in my_list  # result is True

**Identity Operators Examples:-**

In [ ]:
#Is (is): Checks if two variables refer to the same object.
a = [1, 2, 3]
b = a
result = (a is b)  # result is True

#Is not (is not): Checks if two variables do not refer to the same object.
c = [1, 2, 3]
result = (a is not c)  # result is True

# **Q.5 Explain the concept of type casting in Python with examples.**

**Ans.** Type casting, or type conversion, in Python refers to the process of converting one data type into another. This is often necessary when performing operations that require operands to be of the same type, or when you need to ensure that data is in a specific format. Python provides several built-in functions to perform type casting.

Here’s a breakdown of common type casting methods and examples:

In [ ]:
#1. Integer (int)>> Converts a value to an integer.
#From Float: Converts a floating-point number to an integer by truncating the decimal part.
float_number = 3.14
int_number = int(float_number)  # int_number is 3

#From String: Converts a numeric string to an integer. The string must be a valid integer representation.
str_number = "42"
int_number = int(str_number)  # int_number is 42

In [ ]:
#Example:
print(int(5.9))
print(int("123"))

5
123

In [ ]:
#2. Float (float)>> Converts a value to a floating-point number.
#From Integer: Converts an integer to a float.
int_number = 5
float_number = float(int_number)  # float_number is 5.0

#From String: Converts a numeric string to a float. The string must be a valid float representation.
str_number = "3.14"
float_number = float(str_number)  # float_number is 3.14

In [ ]:
#Example:
print(float(10))
print(float("2.718"))

10.0
2.718

In [ ]:
#3. String (str)>> Converts a value to a string.
#From Integer: Converts an integer to a string.
int_number = 42
str_number = str(int_number)  # str_number is "42"

#From Float: Converts a floating-point number to a string.
float_number = 3.14
str_number = str(float_number)  # str_number is "3.14"

In [ ]:
#Example:
print(str(123))
print(str(98.6))

123
98.6

In [ ]:
#4. List (list)>> Converts an iterable (like a string or tuple) to a list.
#From String: Converts a string into a list of characters.
str_value = "hello"
list_value = list(str_value)  # list_value is ['h', 'e', 'l', 'l', 'o']

#From Tuple: Converts a tuple to a list.
tuple_value = (1, 2, 3)
list_value = list(tuple_value)  # list_value is [1, 2, 3]

In [ ]:
#Example:
print(list("abc"))
print(list((1, 2, 3)))

['a', 'b', 'c']
[1, 2, 3]

In [ ]:
#5. Tuple (tuple)>> Converts an iterable to a tuple.
#From List: Converts a list to a tuple.
list_value = [1, 2, 3]
tuple_value = tuple(list_value)  # tuple_value is (1, 2, 3)

#From String: Converts a string into a tuple of characters.
str_value = "hello"
tuple_value = tuple(str_value)  # tuple_value is ('h', 'e', 'l', 'l', 'o')

In [ ]:
#Example:
print(tuple([1, 2, 3]))
print(tuple("abc"))

(1, 2, 3)
('a', 'b', 'c')

In [ ]:
#6. Set (set)>> Converts an iterable to a set.
#From List: Converts a list to a set, removing duplicates.
list_value = [1, 2, 2, 3]
set_value = set(list_value)  # set_value is {1, 2, 3}

#From String: Converts a string into a set of characters.
str_value = "hello"
set_value = set(str_value)  # set_value is {'h', 'e', 'l', 'o'}

In [ ]:
#Example:
print(set([1, 2, 2, 3]))
print(set("hello"))

{1, 2, 3}
{'h', 'e', 'l', 'o'}

# **Q.6 How do conditional statements work in Python? Illustrate with examples.**

**Ans.** Conditional statements in Python allow to execute code based on certain conditions. They are fundamental for making decisions in your code. The primary conditional statements are if, elif, and else. Here's how they work, with examples:

  **Basic Structure-**

          1. if Statement: Evaluates a condition and executes the block of code if the condition is True.
          2. elif Statement: Short for "else if," this statement allows you to check multiple conditions. It’s used after an if statement if you have additional conditions to check.
          3. else Statement: Executes a block of code if none of the preceding conditions are True.

 **Example:-**
 :

In [ ]:
#syntax
if condition1:
    # Block of code to execute if condition1 is True
elif condition2:
    # Block of code to execute if condition1 is False and condition2 is True
else:
    # Block of code to execute if none of the above conditions are True

In [ ]:
#Example 1: Basic If-Else
number = 7

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

In [ ]:
#Example 2: Nested If Statements
number = 10

if number > 0:
    if number % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive and odd.")
else:
    print("The number is not positive.")

The number is positive and even.

In [ ]:
#Example 3: Using elif for Multiple Conditions
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: B

In [ ]:
#Example 4: Combining Conditions with Logical Operators
age = 25
has_id = True

if age >= 18 and has_id:
    print("You are allowed to enter.")
else:
    print("You are not allowed to enter.")

You are allowed to enter.

# **Q.7 Describe the different types of loops in Python and their use cases with examples.**

**Ans.** In Python, loops are used to execute a block of code repeatedly based on a condition. Python provides several types of loops:

1. **for Loop** : The ‘for’ loop is used for iterating over a sequence (such as a list, tuple, string, or range) and executing a block of code for each item in the sequence.
2. **while Loop** : The ‘while loop’ repeatedly executes a block of code as long as a condition remains True. It is useful when you do not know in advance how many times you need to iterate.
3. **break Statement** : The ‘break statement’ is used to exit a loop prematurely. It can be used in both for and while loops.
4. **continue Statement** : The ‘continue statement’ skips the rest of the code inside the loop for the current iteration and jumps to the next iteration of the loop.
5. **else Clause with Loops** : Both ‘for’ and ‘while loops’ can have an ‘else clause’ that is executed when the loop terminates normally (not by a break statement).  

**Examples**:

In [ ]:
#1. for Loop
for variable in sequence:
    # Block of code

In [ ]:
#Iterating Over a List
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
#Using range() for Iteration
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#Iterating Over a String
for char in "puspendu":
    print(char)

p
u
s
p
e
n
d
u

In [ ]:
#2. while Loop
while condition:
    # Block of code

In [ ]:
#Basic While Loop
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
#Using While Loop with a Break Condition
number = 1

while True:
    print(number)
    if number >= 5:
        break
    number += 1

1
2
3
4
5

In [ ]:
#3. break Statement
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
#4. continue Statement
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
#5. else Clause with Loops
#Example with for Loop
for i in range(5):
    print(i)
else:
    print("Loop finished without break.")

0
1
2
3
4
Loop finished without break.

In [ ]:
#Example with while Loop
count = 0
while count < 5:
    print(count)
    count += 1
else:
    print("Loop finished without break.")

0
1
2
3
4
Loop finished without break.